.footer {
    background-color: rgb(97 147 100);
    padding:25px 15px 31px 25px;
    font-family: 'Roboto';
    z-index: 100000000000000000000000 !important;
}

.socail p {
    color: #ffffff;
    font-size: 20px;
}

/*common styles !!!YOU DON'T NEED THEM */
.effect:nth-child(2) {
    margin-top: 50px;
}
/* .effect:nth-child(2n + 1) {
    background-color: #fff;
} */
.effect:nth-child(2n + 1) h2 {
    color: #212121;
}
.effect .buttons {
    margin-top: 50px;
    display: flex;
}
.effect a:last-child {
    margin-right: 0px;
}

.effect a {
    text-decoration: none !important;
    color: #fff !important;
    width: 47px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* margin: 5px 13px; */
    margin-left: 19px;
    margin-top: -20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}

.effect a i {
    position: relative;
    z-index: 3;
}
.effect a.fb {
    background-color: #3b5998;
    
}
.effect a.tw {
    background-color: #00aced;
}
.effect a.insta {
    background-color: #cb2027;
}
.effect a.in {
    background-color: #007bb6;
}

/* aeneas effect */
.effect.aeneas a {
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s,
        border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s,
        border-bottom-left-radius 0.1s linear 0.3s;
}
.effect.aeneas a i {
    transition: transform 0.4s linear 0s;
}
.effect.aeneas a:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}
.effect.aeneas a:hover i {
    transform: rotate(-360deg);
}

.row .List {
    color: #fff !important;
}
.row .List ul {
    line-height: 30px;
}
.row .List ul li {
    transition: all 0.3s;
    cursor: pointer;
    color: #fff !important;
}
.row .List ul li:hover {
    color: rgb(8, 9, 9) !important;
    font-size:large;
    transform: translateX(10px);
}
