.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    background-color: #000;
  }
  
  .button:hover {
    color: #fff;
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px #387804;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #257829;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 0.5s;
  }
  
  .button:hover::before {
    width: 250%;
  }