.review-height {
  height: 750px;
}

.small-card-review {
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* @media (max-width: 600px) {
  .review-height {
    height: 880px;
  }
}
@media (max-width: 991px) {
  .review-height {
    height: 400px;
  }
} */
/* @media (max-width: 780px) {
  .review-height {
    height: 880px;
  }
} */
.review-card {
  --bs-shadow-color: #9b9183;
}

/* @media (min-width: 576px) {
  .review-height {
    height: 750px;
  }
} */
@media (max-width: 640px) {
  .review-height {
    height: 920px;
  }
}
@media (min-width: 800px) {
  .review-height {
    height: 650px;
  }
}
@media (min-width: 992px) {
  .review-height {
    height: 400px;
  }
}
@media (min-width: 1100px) {
  .review-height {
    height: 350px;
  }
}
